[run]
branch = True

[report]
omit = 
    build/*
    tests/*
    GenerateDocs.py
    GuiApp.py
    setup.py
    src/PyPO/__init__.py
    src/PyPO/*.swp
    src/PyPO/__pycache__/*
    shibokensupport/*
    pyscript
    signature_bootstrap.py
